@charset "UTF-8";

/* Configurações gerais */
/* Configuração inicial para telas menores */

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html, body {
    background-color: #7099BB;
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    background-color: white;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.452);
}

section#login > div#imagem {
    display: block;
    background: #5f2c82 url(../imagens/pexels-harrisonhaines-2869565.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    height: 200px;
}

section#login > div#formulario {
    display: block;
    padding: 10px;
}

div#formulario > h1 {
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 10px;
}

div#formulario > p {
    text-align: center;
    font-size: 0.8em;
    margin: 15px;
}

form > div.campo {
    display: block;
    width: 100%;
    height: 40px;
    background-color: #57757a;
    margin: 5px auto;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 8px;
}

div.campo > span {
    color: white;
    font-size: 1.9em;
    width: 40px;
    padding: 5px;
}

div.campo > input {
    background-color: #b9e5e4;
    font-size: 1em;
    width: calc(100% - 44.5px);
    height: 100%;
    border: 0px;
    border-radius: 8px;
    padding: 4px;
    transform: translateY(-10px);
}

div.campo > input:focus-within {
    background-color: white;
    border: none;
}

form > input[type=submit] { /* Campo entrar */
    display: block;
    background-color: #94B8BD;
    color: black;
    width: 50%;
    height: 35px;
    font-size: 0.9em;
    margin: 5px auto;    
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}

form > input[type=submit]:hover {
    background-color: #0A363C;
    color: white;
    cursor: pointer;
}

form > a.botao { /* Campo esqueci a senha */
    display: block;
    background-color: #94B8BD;
    color: black;
    width: 50%;
    height: 35px;
    font-size: 0.9em;
    text-align: center;
    margin: 5px auto;
    padding-top: 6px;
    border: 1px solid black;
    border-radius: 5px;
    text-decoration: none;
}

form > a.botao:hover {
    background-color: #0A363C;
    color: white;
    cursor: pointer;
}

